# Binaries and compiled output
/backend/crm-api
/backend/bin
/backend/dist
*.exe
*.test
*.out

# Environment & Secret files
.env
*.env.local

# Node & Frontend dependencies
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & Persistent Volumes
postgres_data/
redis_data/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
